## List Comprehension

- A **shorter and cleaner way** to create lists in Python
- Compact & easier to read than traditional loop
- **Basic Syntax** `[expression for value in iterable if condition]`
- `expression` → What you need to store in the list
- `value` → the variable name for each element in the iterable (like a loop variable)
- `iterable` → something you can loop through (like a list or range())

➡️Generate a List of Numbers from 1 to 10

In [21]:
''' traditional loop '''
L = []
for x in range(1,11):
    L.append(x)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
''' List Comprehension '''
L1 = [x for x in range(1,11)]

In [10]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

➡️ Squares of numbers 0 to 10

In [11]:
square = [x**2 for x in range(0,11)]

In [12]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### For strings

➡️ Convert words to uppercase

In [15]:
fruits = ['apple','orange','mango','coconut','banana']
fruits = [x.upper() for x in fruits]

In [16]:
fruits

['APPLE', 'ORANGE', 'MANGO', 'COCONUT', 'BANANA']

➡️ Capitalize the first character of each word in List fruits

In [17]:
[x.capitalize() for x in fruits]

['Apple', 'Orange', 'Mango', 'Coconut', 'Banana']

➡️ Concate Each Word in List fruits

In [18]:
[x+'!' for x in fruits]

['APPLE!', 'ORANGE!', 'MANGO!', 'COCONUT!', 'BANANA!']

➡️ Return first char of each word in list

In [19]:
[x[0] for x in fruits]

['A', 'O', 'M', 'C', 'B']

### with if condition

In [24]:
num = [1,-2,3,-4,-5,-6]
pos = [n for n in num if n >= 0]

In [25]:
pos

[1, 3]

In [26]:
neg = [n for n in num if n < 0 ]
neg

[-2, -4, -5, -6]

➡️ Print even numbers 0 to 20

In [27]:
even = [e for e in range(21) if e%2 == 0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Boolean Mapping with List Comprehension

In [5]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    return [i>thresh for i in L] #i > thresh directly returns True or False for each element.

In [6]:
elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

### Use of any

`any(...)` → returns `True` if **at least one** item is `True`

In [7]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    return any(meals[i] == meals[i+1] for i in range(len(meals)-1))

In [8]:
menu_is_boring(["pizza", "burger", "burger", "pasta"])

True

## Dictionary Comprehension

- create dictionaries using an expression
- can replace for loops and certain lambda functions

`dictionary = {key:value for item in iterable}`

In [1]:
dictionary = {x:x**2 for x in range(10)}

In [2]:
dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Interlude Object

In [1]:
X = 12
print(X.imag)

0

In [2]:
y = 12 + 3j
print(y.imag)

3.0

- A **function** attached to an **object** is called a **method**
- **Non-function** things attached to an **object**, for example `imag` is called **attributes**

In [3]:
X.bit_length()

4

In [4]:
X.bit_length?

Signature: X.bit_length()
Docstring:
Number of bits necessary to represent self in binary.

>>> bin(37)
'0b100101'
>>> (37).bit_length()
6
Type:      builtin_function_or_method

- **Tuple** are often used for functions/methods that return **multiple values**

In [6]:
X.as_integer_ratio() # return tuple

(12, 1)

In [7]:
X.as_integer_ratio?

Signature: X.as_integer_ratio()
Docstring:
Return a pair of integers, whose ratio is equal to the original int.

The ratio is in lowest terms and has a positive denominator.

>>> (10).as_integer_ratio()
(10, 1)
>>> (-10).as_integer_ratio()
(-10, 1)
>>> (0).as_integer_ratio()
(0, 1)
Type:      builtin_function_or_method