## Pandas Data Structures

There are 2 main data structures in Pandas:

### üß± DataFrame
A **2-dimensional** data structure (like a table) that can store data of different types ‚Äî including characters, integers, floats, and categorical data ‚Äî in **columns**.

### üìè Series
A **1-dimensional** array or a **sequence** of data values.

> üìù Think of a **DataFrame** as a **table**, and a **Series** as a **list**.

### üßæ Key Concepts of DataFrame in Pandas

- A **DataFrame** is equivalent to an **Excel spreadsheet**.
- Each column of a **DataFrame** is a **Series**.
- The **data type** of each column must be **the same** within that column.
- By default, a **DataFrame** uses **0-based indexing**.
- A column name is also known as a **Feature**.
- Each row (data point) is known as an **Observation**.
- The row headings are known as the **index**.
- The index uniquely identifies each row in a **DataFrame**.

In [1]:
import pandas as pd
import numpy as np

## 1. Creating a DataFrame from the array

### Option 1: Using Numpy Array

In [3]:
# Creating a Numpy array
data = np.array([[1,2],[3,4],[5,6]])

In [4]:
# Creating a dataframe
pd.DataFrame(data)

   0  1
0  1  2
1  3  4
2  5  6

In [6]:
# Labeling row, column
df = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2'])

In [7]:
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6

### Option 2: Using array of lists

In [9]:
# Creating an array with list shape
data = [[1,2],[3,4],[5,6]]

In [11]:
df = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2'])

In [12]:
df

      col1  col2
row1     1     2
row2     3     4
row3     5     6

## 2. Creating a DataFrame from a Dictionary

In [13]:
# Lists
states = ["California", "Texas", "Florida", "New York"]
population = [39613493, 29730311, 21944577, 19299981]

In [14]:
# Storing list within a dictionary
dict_population = {'states':states, 'population': population}

In [17]:
# Creating dataFrame from dictionary
df_dict = pd.DataFrame(dict_population)

In [19]:
# Showing the DataFrame
df_dict

       states  population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981